{% set tutorscontainer = "mx-auto px-3 antialiased bg-base-100 min-h-screen w-full 2xl:w-11/12" %}
{% set tutorscard = "card compact text-center shadow-2xl rounded-box card-corner bg-base-100 m-2 border-t-8 border-b-8 z-0 w-60" %}
{% set tutorscardheader = "flex flex-row justify-between items-center p-3" %}
{% set carddeckbg = "@apply bg-base-200 text-base-content rounded-box card-corner mb-4 p-2" %}
{% set tutorscardimage = "@apply rounded-xl object-scale-down p-1 h-48" %}
{% set unitcardcontainer = "bg-base-200 text-base-content rounded-box card-corner p-2 mb-2"  %}
{% set videocardcontainer = "bg-base-200 text-base-content rounded-box card-corner p-2 mb-2 overflow-hidden w-full mx-auto p-4 grid place-items-center" %}
{% set navbar = "p-3 shadow-lg bg-neutral text-neutral-content rounded-box nav-corner mb-1 justify-end z-40 flex mt-2" %}
{% set navbartitle = "flex-1 px-2 mx-2 lg:block" %}
{% set navbarsecondarybg = "shadow-lg bg-neutral rounded-box nav-corner horizontal text-neutral-content text-sm breadcrumbs flex flex-auto content-center h-12" %}
{% set navbarsecondary = "flex flex-wrap lg:flex-nowrap mb-2" %}
{% set labmenucontainer = "hidden md:block" %}
{% set labmenu = "menu py-2 w-72 shadow-lg bg-neutral text-neutral-content rounded-box card-corner sticky top-2 overflow-auto h-auto mr-2" %}
{% set labpanel = "justify-end w-full bg-base-200 rounded-box rounded-xl py-1 text-base-content" %}
{% set labcontent = "prose xl:max-w-3xl 2xl:max-w-5xl mx-auto p-2 m-4" %}
{% set notecontent = "prose xl:max-w-4xl 2xl:max-w-5xl mx-auto p-2 m-2" %}
{% set talkcardcontainer = "shadow-xl rounded-box card-corner overflow-hidden bg-base-200 px-4 pb-4 pt-2 w-full mx-auto" %}
{% set navbaricon = "btn btn-square btn-ghost border-0 nav-corner" %}
{% set iconbar = "p-3 flex-wrap lg:flex-none shadow-lg bg-neutral text-neutral-content rounded-box nav-corner horizontal ml-2" %}
