{{ import { card } from "/components/cards/Card.vto" }}

{{ export function cardDeck(los, path) }}
  <div class="bg-base-100 rounded-xl shadow-lg">
    <div class="flex flex-wrap justify-center">
      {{ for lo of los }}
        {{ card(lo, path) }}
      {{ /for }}
    </div>
  </div>
{{ /export }}
