{{ import { icon } from "/components/iconography/Icon.vto"}}

{{ export function breadcrumbs (lo, isWall) }}
  <div class="pl-3 shadow-lg text-black bg-[rgb(225,239,240)] rounded-box nav-corner horizontal text-neutral-content text-sm breadcrumbs flex flex-auto content-center h-12">
    <ul>
      {{ if isWall }}
        <li class="">
          <a href="./index.html">
            {{ icon("moduleHome", 20, "", "") }}
            <span class="hidden text-xs lg:block ">
              {{ lo.title }}
            </span>
          </a>
        </li>
      {{ else }}
        {{> let loopIndex = 0 }}
        {{> let loopLength = lo.breadCrumbs.length-1 }}
        {{ for l of lo.breadCrumbs }}
          <li class="">
            <a href="{{ loopLength, l |> generateCrumbLink }}">
              {{ if l.type == "course" }}
                {{ icon("moduleHome", 20, "", "") }}
              {{ else }}
                {{ icon("topic", 20, "") }}
              {{ /if }}
              <span class="hidden text-xs lg:block -m-1">
                {{ l.title }}
              </span>
            </a>
            {{> loopLength-- }}
          </li>
        {{ /for }}
      {{ /if }}
    </ul>
  </div>
{{ /export }}