{{ import { loContext } from "/components/navigators/LoContext.vto" }}
{{ import { icon } from "/components/iconography/Icon.vto" }}

{{ export function loReference (fromlo, lo, indent) }}
  <div class="flex py-1 ml-{{indent}}">
    <a href="{{ fromlo, lo |> tocLink }}" class="flex">
      {{ icon(lo?.type, 30, "", "") }}
      <span class="mb-1 ml-2"> {{ lo?.title }} </span>
    </a> 
    {{ if lo.video && lo.type != "panelvideo"}}
      <a class="flex pl-4" href="{{ lo |> generateVideoLink }}" target="_blank">
        {{ icon("video", 24, "", "") }}
      </a>
    {{/if}} 
  </div>
{{ /export }}

{{ export function toc (lo) }}
  <el-dialog>
    <dialog id="tocdrawer" aria-labelledby="drawer-title" class="fixed inset-0 size-auto max-h-none max-w-none overflow-hidden bg-transparent backdrop:bg-transparent">
        <div tabindex="0" class="absolute inset-0 pl-10 focus:outline-none sm:pl-16">
        <el-dialog-panel class="ml-auto block size-full max-w-md transform transition duration-500 ease-in-out data-closed:translate-x-full sm:duration-700">
            <div class="relative flex h-full flex-col overflow-y-auto bg-white py-6 shadow-xl dark:bg-gray-800 dark:after:absolute dark:after:inset-y-0 dark:after:left-0 dark:after:w-px dark:after:bg-white/10">
            <div class="px-4 sm:px-6">
                <div class="flex items-start justify-between">
                <h2 id="drawer-title" class="text-base font-semibold text-gray-900 dark:text-white">Course Contents</h2>
                <div class="ml-3 flex h-7 items-center">
                    <button type="button" command="close" commandfor="tocdrawer" class="relative rounded-md text-gray-400 hover:text-gray-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:hover:text-white dark:focus-visible:outline-indigo-500">
                    <span class="absolute -inset-2.5"></span>
                    <span class="sr-only">Close panel</span>
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                        <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    </button>
                </div>
                </div>
            </div>
            <div class="relative mt-6 flex-1 px-4 sm:px-6">
              {{ for topic of lo.parentCourse.toc }}
                {{ loReference(lo,topic, 0) }}
                  {{ for loref of topic?.toc }}
                   {{ loReference(lo, loref, 4) }}
                   {{ for loref2 of loref?.toc }}
                     {{ loReference(lo, loref2, 8) }}
                     {{ for loref3 of loref2?.toc }}
                       {{ loReference(lo, loref3, 12) }}
                    {{/for}}
                  {{/for}}
                {{/for}}   
              {{ /for }}
            </div>
            </div>
        </el-dialog-panel>
        </div>
    </dialog>
  </el-dialog>
{{ /export }}