# Keys for Tutors reader

# Set this to true if you do not want auth/analytics or do not have any keys.
PUBLIC_ANON_MODE=TRUE

# keys for github auth
PRIVATE_AUTH_GITHUB_ID="XXX"
PRIVATE_AUTH_GITHUB_SECRET="XXX"
PRIVATE_AUTH_SECRET="XXX"

# keys for supabase
PUBLIC_SUPABASE_URL="XXX"
PUBLIC_SUPABASE_ANON_KEY="XXX"

# keys for partykit
PUBLIC_party_kit_main_room="XXX"
