:root {
  --theme-border-base: 1px;
  --theme-font-family-heading: system-ui;
  --theme-font-family-base: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --theme-font-color-base: var(--color-surface-900);
  --theme-font-color-dark: var(--color-surface-100);
  --theme-rounded-base: 8px;
  --theme-rounded-container: 8px;

  --color-primary-50: 232 246 247;
  --color-primary-100: 210 236 239;
  --color-primary-200: 165 217 223;
  --color-primary-300: 123 200 208;
  --color-primary-400: 78 181 192;
  --color-primary-500: 55 145 155;
  --color-primary-600: 44 116 124;
  --color-primary-700: 33 88 94;
  --color-primary-800: 21 56 60;
  --color-primary-900: 11 28 30;

  --color-accent-50: 247 252 250;
  --color-accent-100: 236 248 243;
  --color-accent-200: 217 242 232;
  --color-accent-300: 187 231 214;
  --color-accent-400: 119 207 172;
  --color-accent-500: 61 174 129;
  --color-accent-600: 44 125 92;
  --color-accent-700: 32 91 67;
  --color-accent-800: 19 53 39;
  --color-accent-900: 9 26 20;

  --color-tertiary-50: 255 252 245;
  --color-tertiary-100: 254 248 230;
  --color-tertiary-200: 253 241 206;
  --color-tertiary-300: 252 230 166;
  --color-tertiary-400: 249 206 78;
  --color-tertiary-500: 226 172 8;
  --color-tertiary-600: 162 123 6;
  --color-tertiary-700: 118 90 4;
  --color-tertiary-800: 69 52 2;
  --color-tertiary-900: 34 26 1;

  --color-warning-50: 254 245 247;
  --color-warning-100: 254 231 235;
  --color-warning-200: 252 207 214;
  --color-warning-300: 250 168 182;
  --color-warning-400: 245 81 109;
  --color-warning-500: 222 13 48;
  --color-warning-600: 159 9 34;
  --color-warning-700: 116 7 25;
  --color-warning-800: 67 4 15;
  --color-warning-900: 34 2 7;

  --color-surface-50: 255 255 255;
  --color-surface-100: 245 245 245;
  --color-surface-200: 232 234 237;
  --color-surface-300: 162 169 184;
  --color-surface-400: 77 84 101;
  --color-surface-500: 42 46 55;
  --color-surface-600: 33 36 43;
  --color-surface-700: 24 27 32;
  --color-surface-800: 18 19 23;
  --color-surface-900: 9 10 12;
}

[data-theme="tutors"] h1,
[data-theme="tutors"] h2,
[data-theme="tutors"] h3,
[data-theme="tutors"] h4,
[data-theme="tutors"] h5,
[data-theme="tutors"] h6 {
  font-weight: bold;
}
