---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tutors Architecture">
  <div class="container mx-auto bg-base-200 rounded-box w-full mt-4">
    <iframe
      class="w-full h-[800px]"
      src="https://miro.com/app/live-embed/uXjVP9-d6h8=/?moveToViewport=-10136,-1672,3466,2745&embedId=712391198901"
      frameborder="0"
      scrolling="no"
      allowfullscreen></iframe>
  </div>
</Layout>
