{{ import { mainNavigator } from "/components/navigators/MainNavigator.vto" }}
{{ import { talkCard } from "/components/cards/TalkCard.vto" }}
{{ import { loContext } from "/components/navigators/LoContext.vto" }}

{{ layout "layouts/main.vto" }}
  {{ mainNavigator(lo) }}
  <div class="mr-10 ml-10 flex justify-between">
    <div class="w-full">
    {{ talkCard(lo) }}
    </div>
    {{ loContext(lo) }}
  </div>

{{ /layout }}
