---
import "tutors-ui/lib/themes/tutors.css";
import "@brainandbones/skeleton/styles/all.css";
import "../styles/global.css";
import { AppShell, AppBar } from "@brainandbones/skeleton";
import DarkMode from "../components/DarkMode.svelte";

export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Tutors | {title}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
  </head>
  <body>
    <AppShell>
      <!-- Header -->
      <svelte:fragment slot="header">
        <AppBar class="h-24 space-x-1 lg:space-x-4">
          <svelte:fragment slot="lead">
            <div class="flex items-center">
              <div class="flex-1">
                <img src="/logo.svg" />
              </div>
              <div class="ml-4 flex-nowrap">
                <h2 class="mr-4 hidden text-sm font-bold sm:text-lg md:inline-block">Tutors Open Source Project</h2>
                <!-- Badge -->
                <div class="hidden md:block">
                  <p class="!text-sm font-bold">Open Learning Web Toolkit</p>
                </div>
              </div>
            </div>
          </svelte:fragment>
          <svelte:fragment slot="trail">
            <div class="flex items-center space-x-1 lg:space-x-4">
              <DarkMode client:visible />
            </div>
          </svelte:fragment>
        </AppBar>
      </svelte:fragment>

      <slot />

      <svelte:fragment slot="pageFooter">
        <div class="bg-surface-100-800-token bottom-0 mt-2 py-8">
          <footer class="mx-auto w-11/12 py-8">
            <div class="grid grid-cols-1 lg:grid-cols-[auto_auto_auto_auto] gap-10">
              <div class="space-y-4">
                <div class="grid grid-cols-1 gap-2 place-content-center place-items-center md:place-items-start">
                  <div>
                    <img src="/logo.svg" />
                    <p>
                      Tutors Open Source Project
                      <br />Licensed under the <a href="https://github.com/tutors-sdk/tutors/blob/main/LICENSE" target="_blank" class="link">MIT License</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="space-y-4">
                <h6>Community</h6>
                <ul class="space-y-2">
                  <li>
                    <a href="https://github.com/tutors-sdk-tutors" target="_blank" rel="noreferrer">View GitHub</a>
                  </li>
                  <li>
                    <a rel="me" href="https://fosstodon.org/@tutors" target="_blank">Follow on Mastodon</a>
                  </li>
                  <li>
                    <a href="https://twitter.com/tutors_dev" target="_blank" rel="noreferrer">Follow on Twitter</a>
                  </li>
                </ul>
              </div>
              <div class="space-y-4">
                <h6>Links</h6>
                <ul class="space-y-2">
                  <li>
                    <a href="https://docs.tutors.dev" target="_blank" rel="noreferrer">Documentation</a>
                  </li>
                  <li>
                    <a href="https://github.com/tutors-sdk/tutors/blob/main/CODE_OF_CONDUCT.md" target="_blank" rel="noreferrer">Code of Conduct</a>
                  </li>
                </ul>
              </div>
              <div class="space-y-4">
                <h6>More</h6>
                <ul class="space-y-2">
                  <li>
                    <a href="https://www.netlify.com">
                      <img src="https://www.netlify.com/v3/img/components/netlify-color-bg.svg" alt="Deploys by Netlify" class="h-10" />
                    </a>
                  </li>
                  <li>
                    <a href="https://setu.ie" target="_blank" class="btn !rounded-md bg-[#435465] !py-2 !px-4">
                      <img src="https://www.setu.ie/img/logos/setu-logo.svg" alt="South East Technological University" class="h-6" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </footer>
        </div>
      </svelte:fragment>
    </AppShell>
  </body>
</html>
