{% from "css/tailwindcss.njk" import navbarsecondarybg %}
{% from "components/iconography/Icon.njk" import icon %}
{% macro breadcrumbs (lo) %}
  <div class="{{ navbarsecondarybg }}">
    <ul>
      {% if (lo.type == "course") %}
        <li class="ml-2">
          {{ icon("moduleHome", 20, "", "") }}
          <a class="font-bold" href="#">
            <span class="hidden text-xs lg:block lg:pl-2">
              Home
            </span>
          </a>
        </li>
      {% else %}
        <li class="ml-2">
          {% if ((lo.parentLo.type == "unit") or (lo.parentLo.type == "side")) %}
            {{ icon("moduleHome", 20, "", "") }}
            <a class="font-bold" href="../../index.html">
              <span class="hidden text-xs lg:block lg:pl-2">
                Home YES!
              </span>
            </a>
          {% else %}
            {{ icon("moduleHome", 20, "", "") }}
            <a class="font-bold" href="../index.html">
              <span class="hidden text-xs lg:block lg:pl-2">
                Home
              </span>
            </a>
          {% endif %}
        </li>
        {% if (lo.type == "lab" or lo.type == "note") %}
          {% if ((lo.parentLo.type == "unit") or (lo.parentLo.type == "side")) %}
            <li class="ml-2">
              {{ icon("topic", 20, "", "") }}
              <a class="font-bold" href="../../index.html">
                <span class="hidden text-xs lg:block lg:pl-2">
                  {{ lo.parentLo.parentLo.title }}
                </span>
              </a>
            </li>
          {% else %}
            <li class="ml-2">
              {{ icon("topic", 20, "", "") }}
              <a class="font-bold" href="../index.html">
                <span class="hidden text-xs lg:block lg:pl-2">
                  {{ lo.parentLo.title }}
                </span>
              </a>
            </li>
          {% endif %}
        {% endif %}
        <li class="ml-2">
          {{ icon(lo.type, 20, "", "") }}
          <a class="font-bold" href="#">
            <span class="hidden text-xs lg:block lg:pl-2">
              {{ lo.title }}</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endmacro %}