---
import "../styles/tailwind.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Design">
  <main>
    <div class="unitcard-container bg-base-200 rounded-box w-full mt-2">
      <div class="card-body">
        <p class="text-xl">
          <strong>Tutors Design System - Components</strong>
        </p><br />
        <div class="flex flex-wrap justify-center">
          <iframe src="/Brand-Guidelines.pdf" width="100%" height="600px"
          ></iframe>
        </div>
      </div>
    </div>
  </main>
</Layout>
