---
import "../styles/tailwind.css";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Design">
  <main>
    <div class="unitcard-container bg-base-200 rounded-box w-full mt-2">
      <div class="card-body">
        <p class="text-xl">
          <strong>Tutors Design System</strong>
        </p><br />
        <div class="flex flex-wrap justify-center">
          <Card
            border="info"
            title="Tutors Branding"
            href="/branding"
            icon="feather:pen-tool"
            body="The branding and style guide for the Tutors Open Source Project."
          />
          <Card
            border="success"
            title="Tutors Components"
            href="/components"
            icon="tabler:drag-drop"
            body="The selection of components used to build Tutors with snippets on how to use them."
          />
        </div>
      </div>
    </div>
  </main>
</Layout>
