{{ import { card } from "/components/cards/Card.vto" }}

{{ export function cardDeck(los) }}
  <div class="flex flex-wrap justify-center">
    {{ for lo of los }}
      {{ card(lo) }}
    {{ /for }}
  </div>
{{ /export }}
