@font-face {
  font-family: "OpenDyslexic";
  src:
    url("OpenDyslexic-Bold.woff2") format("woff2"),
    url("OpenDyslexic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenDyslexic";
  src:
    url("OpenDyslexic-Italic.woff2") format("woff2"),
    url("OpenDyslexic-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "OpenDyslexic";
  src:
    url("OpenDyslexic-BoldItalic.woff2") format("woff2"),
    url("OpenDyslexic-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "OpenDyslexic";
  src:
    url("OpenDyslexic-Regular.woff2") format("woff2"),
    url("OpenDyslexic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("PlayfairDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("PlayfairDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
