{% from "css/tailwindcss.njk" import tutorscontainer %}
{% from "components/cards/CardDeck.njk" import cardDeck %}
{% from "components/navigators/MainNavigator.njk" import mainNavigator %}
{% extends "layouts/main.html" %}

{% block content %}
  {{ mainNavigator(lo) }}
  {{ cardDeck(lo.los, "./") }}
{% endblock %}
