{{ import { mainNavigator } from "/components/navigators/MainNavigator.vto" }}
{{ import { card } from "/components/cards/Card.vto" }}

{{ layout "layouts/main.vto" }}
  {{ mainNavigator(lo.course, true) }}
  <div class="bg-base-100 rounded-xl shadow-lg">
    <div class="flex flex-wrap justify-center">
      {{ for item of lo.los }}
        {{ card(item, true) }} 
      {{ /for }}
    </div>
  </div>
{{ /layout }}
